.TicTacToe{
    
   display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.row{
   display: flex;
}
.square{
    height: 3rem;
    width: 3rem;
}

